@model RopeyDVD.Models.ViewModels.AddDVDLoan
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/RopeyDVD.styles.css" asp-append-version="true" />
@if (ViewBag.TotalPrice != null)
{
<script type="text/javascript">
            window.onload = function () {
               modal.style.display = "block";
            };
</script>
}

@if (ViewBag.ErrorMessage != null)
{
    <script type="text/javascript">
        window.onload = function () {
            errModal.style.display = "block";
        };
    </script>
}


<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4);
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 12% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 30%; 
        height: 40%;
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
</style>

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Total Price:</h2>
        <p>@ViewBag.TotalPrice</p>
    </div>
</div>

<!-- The Modal -->
<div id="errModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="errClose">&times;</span>
        <h2>Error:</h2>
        <p>@ViewBag.ErrorMessage</p>
    </div>
</div>

<div class="admin-container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" required/>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="CopyNumber" class="control-label"></label>
                    <select asp-for="CopyNumber" class="form-select" asp-items="ViewBag.DVDCopy" required></select>
                    <span asp-validation-for="CopyNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LoanType" class="control-label">Loan (In Days)</label>
                    <select asp-for="LoanType" class="form-select" asp-items="ViewBag.LoanTypeList" ></select>
                    <span asp-validation-for="LoanType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MemberNumber" class="control-label"></label>
                    <select asp-for="MemberNumber" class="form-select" asp-items="ViewBag.MemberList" required></select>
                    <span asp-validation-for="MemberNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>


<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var errModal = document.getElementById("errModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementById("errClose");

    

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        window.location.href="/DVD/AddDVDLoan";
    }
    span2.onclick = function () {
    modal.style.display = "none";
    window.location.href="/DVD/AddDVDLoan";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
        window.location.href="/DVD/AddDVDLoan";
            modal.style.display = "none";
        }
         if (event.target == errModal) {
        window.location.href="/DVD/AddDVDLoan";
            modal.style.display = "none";
        }
    }
</script>