@model RopeyDVD.Models.UserLoginModel

@{
    ViewData["Title"] = "Login";
}

@if (ViewBag.ErrorMessage != null)
{
<script type="text/javascript">
            window.onload = function () {
               modal.style.display = "block";
            };
</script>
}

<!-- The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Error</h2>
        <p>@ViewBag.ErrorMessage</p>
    </div>
</div>


<div class="admin-container">
    <div style="display:flex;flex-direction:column">
        <h1>Login</h1>
        <h4>UserLoginModel</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" required />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" required/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    var errModal = document.getElementById("errModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementById("errClose");

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        window.location.href="/Authentication/Login";
    }
    span2.onclick = function () {
    modal.style.display = "none";
    window.location.href="/Authentication/Login";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
        window.location.href="/Authentication/Login";
            modal.style.display = "none";
        }
    }
</script>