@model IEnumerable<RopeyDVD.Models.ViewModels.DVDCopiesTotalViewModel>

@{

}

<div class="admin-container">
    <table class="hover" id="example">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DVDName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            </tr>
        </thead>
        <tbody>
          
    @foreach (var item in Model) {
          <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DVDName)
                </td>      
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>

        </tr>
    }
        </tbody>
    </table>
</div>


  